.App{
  display: inline-flex;
  padding:20px;
}
.board-wrap{
  display: inline-block;
  overflow: hidden;
}
.navigator-wrap{
  display: inline-block;
  width: 250px;
  text-align: center;
}
.navigator{
  margin-top: 140px;
}

.navigator .btn{
  margin:0 10px;
}
.tile{
  display:inline-block;
  margin-bottom:-4px;
  margin-right: 2px;
  background-color: rgb(232, 255, 100);
  cursor: pointer;
  transition:all 200ms linear;
}
.tile:hover{
  background-color: rgb(228, 248, 76);

} 
.board{
  position: relative;
}

.bot{
  position: absolute;
  text-align: center;
  padding-top: 15px;
  transition-property: all;
  transition-timing-function: linear;
}

.botImg{
  height:50px;
}